@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

p{
    font-weight: 300;
    color: #111;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*--------kayaknya fotonya ga bisa deh :(------*/
    background: url(pallubasa.JPG);
    background-size: cover;   
}

.banner .content{
    max-width: 900px;
    text-align: center;
}

.banner .content h2{
    font-size: 5em;
    color: #fff;
}

.banner .content p{
    font-size: 1em;
    color: #fff;
}

.btn{
    font-size: 1em;
    color: #fff;
    background: #ff7a00;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn:hover{
    letter-spacing: 6px;
}


.leftside, .rightside{
    height: 50vh;
    width: 100%;
}

@media screen and (min-width:768px){
    .leftside, .rightside{
        height: 100vh;
    }
}

.leftside{
    background: #F7B955;
}

.rightside{
    background: #FBD492;
}


/*--------style for section ALAT&BAHAN-content------*/
.leftside h1{ /* style for h1 leftside */
    font-size: 40px;
    color:  #FFEFCF;
    text-align: center;
}
.leftside ul{ /* style for p leftside */
    font-size: 20px;
    color:  #FFEFCF;
    text-align: center;
}

.rightside h1{ /* style for h1 rightside */
    font-size: 40px;
    color:  #AB570A;
    text-align: center;
}
.rightside ul{  /* style for p rightside */
    font-size: 20px;
    color:  #AB570A;
    text-align: center;
}