* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: #ffefcf;
}

.app {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto repeat(3, 15rem) auto;
    gap: 2rem;
    margin-bottom: 5%;

    /* NOTE This creates the fade in/out anumation */
    opacity: 0;
    transition: all 1s;
}

.hidden {
    display: none;
    overflow: hidden;
}

.tulisan_login{
    text-align: center;
    text-transform: uppercase;
    /*modified style*/
        color: white;
}

 /* for square login */
.kotak_login{
    width: 350px;
    /*modified style background: white;*/
    background: #ff7a00;
    /*modified style margin: 80px auto;*/
    margin : 50px auto;
    padding: 30px 20px;
    /*modified style*/ 
    padding-bottom: 5px;
    border-radius: 20px;
}

 /* for size of font */
label{
    font-size: 11pt;
}

 /* for form */
.form_login{
    box-sizing : border-box;
    width: 100%;
    padding: 10px;
    font-size: 11pt;
    margin-bottom: 20px;
    /*modified style*/ 
    border-radius: 20px;
    border-style: solid;
    border: none;
}

 /* for button login */
.tombol_login{
    background:black;
    color: white;
    font-size: 11pt;
    width: 100%;
    border: none;
    /*modified style border-radius: 3px;*/
    border-radius: 5px;
    padding: 10px 20px;
}
 /* for clour link */
.link{
    /*modified style color: white;*/
    color: black;
    text-decoration: none;
    font-size: 10pt;
}

::selection {
    color: #ffefcf;
    background-color: #664AFF;
}

.wrapper {
    max-width: 450px;;
    margin: 150px auto;
}

.wrapper .search-input {
    background: #ffefcf;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input.active input{
    border-radius: 5px 5px 0 0;
}

.search-input .autocom-box {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}

.search-input.active .autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li {
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.search-input.active .autocom-box li {
    display: block;
}

.autocom-box li:hover {
    background: #efefef;
}

.search-input .search-icon {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
}